@import url(./__image/cards__image.css);
@import url(./__item-button/cards__item-button.css);
@import url(./__item-rectangle/cards__item-rectangle.css);
@import url(./__item-subtitle/cards__item-subtitle.css);

.cards {
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}
