
@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__profile/popup__profile.css);
@import url(./__label/popup__label.css);
@import url(./__input/popup__input.css);
@import url(./__button/popup__button.css);

.popup {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  margin: auto;
  /*display: none;*/
  z-index: 10;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 1.5s linear;

}


