@import url(./__info/profile__info.css);
@import url(./__user/profile__user.css);
@import url(./__button-edit/profile__button-edit.css);
@import url(./__button-add/profile__button-add.css);
@import url(./__link/profile__link.css);

.profile {
  margin: 0 auto;
  max-width: 882px;
  display: flex;
  align-items: center;
}
