@import url(./__container/popup-place__container.css);
@import url(./__image/popup-place__image.css);
@import url(./__title/popup-place__title.css);
@import url(./__close/popup-place__close.css);

.popup-place {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  margin: auto;
  /*display: none;*/
  z-index: 10;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

}

