.popup__button {
  min-width: 358px;
  min-height: 50.15px;
  background-color: #000000;
  border-radius: 2px;
  border: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}

.popup__button:hover {
  /*background-color: #e5e5e5;*/
  background-color: rgba(0,0,0,0.8);
}
