.popup__button {
  min-width: 358px;
  min-height: 50.15px;
  background-color: #000000;
  border-radius: 2px;
  border: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}