@import url(./__title/pop-up__title.css);
@import url(./__close/pop-up__close.css);

.pop-up {
  max-width: 430px;
  min-height: 330px;
  background-image: url(../../images/Rectangle-Pop-Up.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 195px;
  margin: auto;
  /*display: none;*/
}
