.line {
  margin: 0 auto;
  min-width: 882px;
  opacity: 0.7;
  border: 1px solid #545454;
}

@media screen and (min-width: 320px) and (max-width: 882px) {  
  .line {
    max-width: 320px;
    min-width: 320px;
  }
}
