.popup__close {
  min-width: 40.7px;
  min-height: 40.7px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/CloseIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -40px;
  right: -230px;
}

.popup__close:hover {
  background-color: transparent;

  /*background: rgba(255, 255, 255, 0.6);*/
  background-image: url(../../../images/CloseIcon1.png);
  background-repeat: no-repeat;
  background-position: center;
}
